body {
    font-family: Arial, Helvetica, sans-serif;
    /*
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0% , rgba(36, 36, 179, 0.897) 73%, rgb(3, 84, 122) 100%);
    */
    background-image: url(../media/background.jpg);
    background-size: cover;
}

h1 {
    margin: 100px;
    font-size: 50px; 
    text-align: center;
    color: rgb(243, 239, 233);
}

img {
    width: 520px;
    height: 270px;
    margin: 0 5px;
}

.container {
    width: 90%;
    margin-left: 10%;
}

.container .projects {
    display: flex;
    flex-wrap: wrap;
}

.container .projects p {
    display: none;
    transition: .2s;
}

.container .projects .box p {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 33.33%;
    height: 20px;
    align-items: center;
    transition: .3s;
    color: rgb(243, 239, 233);
    font-size: 25px;
}

.last {
    align-content: center;
}

.box:hover {
    background: rgba(251, 255, 0, 0.133);
    transition: .4s;
    cursor: pointer;
}